:root{
  --azul:#2a327d;
  --verde: #00c689;
  --abobora: #f9ac38;
  --laranja: #fb6158;
  --cinzaPrimario:rgb(134, 134, 134);
  --cinzaSecundario:rgb(219, 219, 219);
  --margemContainer: 10px 10px 10px 10px;

}
*{
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  min-width: 100%;
  min-height: 100vh;
  
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background:url(img/estudando_no_escuro.png) no-repeat fixed center;
  background-size: cover;
}
header nav {
  display: flex;
  z-index: 3;
  flex-direction: column;
  width: 100%;
  height: 0px;
  margin: 0px 50px 0 0;
  position: fixed;
  transition: 0.4s;
  }
.menuNavegacao{
  background-color:  rgba(14, 14, 14, 0.5);
  height: 60px;
  
}
header ul{
list-style: none;
display: flex;
align-self:flex-end ; 
 
}

header ul li{
  padding: 20px 20px 10px 10px;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  /* text-shadow: 1px 1px 0px  #000; */
}
/* #mudarCor{
  color: #008678;
} */
header ul li a:hover{
  text-decoration: none;
  color: rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
}
.navPreto{
  color: #000;
  font-weight: 600;
}
.contatos{
  align-self: center;
 
}
.contatos a i{

  transform: scale(2.5);
  color: #fff;
  margin: 20px 20px 45px 20px;
}
.contatos a i:hover{
  color:rgb(173, 173, 173);
}
.titulos_01{
  color: white ;
  margin: 3% 10px 10px 60px;
  display: flex;
  height: 100%;

}
.titulo_00{
  align-self: center;
}

.titulos_01 h1{
  margin-bottom: 20px;
  font-size: 4em;
  border: 5px solid #fff;
  display: inline-block;
  padding: 20px;
  line-height: 70%;
}
.titulos_01 h2{
  margin-bottom: 20px;
  font-size: 3em;
}
.typing::after{
  content: '';
  /* position: absolute; */
  height: 5%;
  border-right: 2px solid #fff;
  animation: dig 0.75s infinite ease;
}
@keyframes dig{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.sobreMim{
  width: 100%;
  height: 700px;
}
.container{
  /* width: 1200px; */
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  color: black;
  padding: var(--margemContainer);
  display: flex;
  flex-wrap: wrap;
}
.curriculo{
width: 100%;
}
.curriculo button{
  background-color: #fb6158;
  width: 150px;
  height: 40px;
  display: block;
  margin: 10px auto 10px auto ;
  box-shadow: 2px 2px 4px #000;
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  border-radius: 5px;

}
.curriculo a{
  text-decoration: none
}
.curriculo button i{
  margin:0 10px;
}
.curriculo button:hover{
  background-color: #f84238;
  
}
 .sobreMim h2, .tecnologias h2, .projetos h2, .estudos h2{
font-size: 2.5rem;
margin: 20px 10px 40px 20px;
}

.sobreMim img{
  width:100%;
  margin: auto;
}
.texto_01{
 width: 50%;
 min-width: 300px;
}
.imagem_sobreMim{
  width: 50%;
  margin:auto;
  min-width: 300px;
}

/* Projetos */

.projetos{
  width: 100%;
  background-color: rgb(53, 53, 53);
  overflow: hidden;

}
.projetos svg{
  width: 100%;
  margin-bottom: -40px;

}
.container_01{
  max-width: 1200px;
  margin: 25px auto;
  padding: 10px;
  
}
.container_01 h2{
  color: #fff;
  z-index: 1;
}
.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}
.cardContainer{
  position: relative;
  width: 300px;
  height: 300px;
  /* border: 1px solid red; */
  margin: 20px 10px 20px 10px;
  box-shadow: 3px 3px 6px #000;
  transition: 0.5s;
}
.cardContainer:hover{
  height: 401px;
 
}

.texto_00{
  position: relative;
  bottom:180px;
  height: 100px;
  width: 100%;
  color: #fff;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  z-index: 1;
  overflow: auto;
  transition: 0.5s;
  
}
.texto_00::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.texto_00::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
.texto_00::-webkit-scrollbar-thumb {
  background: #a8a8a8;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  /* width: 100%; */
  max-width: 300px;
  height: 300px;
  background-color: #fff;
  cursor: pointer;
  object-fit: cover;
  
}
.cardContainer:hover .texto_00{
  bottom:0px;
}
.card img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  
}
.tecnologias{
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--margemContainer);
}
.tecnologias h3{
font-size: 1.5rem;
margin-bottom: 20px;
}
.container_02{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.tecCards{
  width: 300px;
  max-width: 300px;
  height: 250px;
  margin-bottom: 25px;
}
.estudos{
  width: 100%;
  background-color: rgb(53, 53, 53);
}
.container_03{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--margemContainer);
}
.foguete{
  width: 50%;
  min-width: 300px;
}
.foguete img{
  width: 100%;
}
.textoEstudos{
  width: 50%;
   min-width: 300px;
   color: #fff;
}
