:root{
  --azul:#2a327d;
  --verde: #00c689;
  --abobora: #f9ac38;
  --laranja: #fb6158;
  --cinzaPrimario:rgb(134, 134, 134);
  --cinzaSecundario:rgb(219, 219, 219);
  --margemContainer: 10px 10px 10px 10px;
  --brancoPrimario:#f1f2f6;
  --neum:linear-gradient(to right, rgb(49, 49, 49), rgb(65, 65, 65), rgb(80, 80, 80) );
  --gradienteQuente: linear-gradient(to right, #d41818, #f25221);
  
}
*{
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body{
  min-width: 100%;
  min-height: 100vh;
  background: var(--brancoPrimario);
  
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background:url(img/estudando_no_escuro.png) no-repeat fixed center;
  background-size: cover;
}
header nav {
  display: flex;
  z-index: 3;
  flex-direction: column;
  width: 100%;
  height: 0px;
  margin: 0px 50px 0 0;
  position: fixed;
  transition: 0.4s;
  }
.menuNavegacao{
  background-color:  rgba(14, 14, 14, 0.5);
  height: 60px;
  
}
header ul{
list-style: none;
display: flex;
align-self:flex-end ; 
 
}

header ul li{
  padding: 20px 20px 10px 10px;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  /* text-shadow: 1px 1px 0px  #000; */
}
/* #mudarCor{
  color: #008678;
} */
header ul li a:hover{
  text-decoration: none;
  color: rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
}
.navPreto{
  color: #000;
  font-weight: 600;
}
.contatos{
  align-self: center;
 
}
.contatos a i{

  transform: scale(2.5);
  color: #fff;
  margin: 20px 20px 45px 20px;
}
.contatos a i:hover{
  color:rgb(173, 173, 173);
}
.titulos_01{
  color: white ;
  margin: 3% 10px 10px 60px;
  display: flex;
  height: 100%;

}
.titulo_00{
  align-self: center;
}

.titulos_01 h1{
  margin-bottom: 20px;
  font-size: 4em;
  border: 5px solid #fff;
  display: inline-block;
  padding: 20px;
  line-height: 70%;
}
.titulos_01 h2{
  margin-bottom: 20px;
  font-size: 3em;
}
.typing::after{
  content: '';
  /* position: absolute; */
  height: 5%;
  border-right: 2px solid #fff;
  animation: dig 0.75s infinite ease;
}
@keyframes dig{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.sobreMim{
  width: 100%;
  height:auto;
  background-color:var(--brancoPrimario);
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  background-color:var(--brancoPrimario);
  color: black;
  padding: var(--margemContainer);
  display: flex;
  flex-wrap: wrap;
}
.curriculo{
  position: relative;
  z-index: 2;
  width: 100%;
}
.curriculo button{
  background: #fb6158;
  width: 150px;
  height: 40px;
  display: block;
  margin: 10px auto 10px auto ;
  box-shadow: 2px 2px 4px #000;
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  border-radius: 5px;

}
.curriculo a{
  text-decoration: none
}
.curriculo button i{
  margin:0 10px;
}
.curriculo button:hover, .atrazBtn button:hover{
  
  background-color: #f84238;
}
 .sobreMim h2, .tecnologias h2, .projetos h2, .estudos h2{
font-size: 2.5rem;
margin: 20px 10px 40px 20px;
}

.sobreMim img{
  width:100%;
  margin: auto;
}
.texto_01{
 width: 50%;
 min-width: 300px;
}
.imagem_sobreMim{
  width: 50%;
  margin:auto;
  min-width: 300px;
}

/* Projetos */

.projetos{
  width: 100%;
  background:var(--brancoPrimario) url(img/wave.svg) no-repeat bottom center;
  overflow: hidden;

}
.projetos svg{
  width: 100%;
  margin-bottom: -40px;
  

}
.container_01{
  max-width: 1200px;
  margin: 25px auto;
  padding: 10px;
}
.container_01 h3{
  color:#FFF;
  font-size: 1.5rem;
  margin: 15px;
  text-shadow: 1px 1px 2px #000;
}
.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}
.cardContainer{
  width: 300px;
  height: 350px;
  margin: 20px 10px 20px 10px;
 
}
.borda{
  width: 280px;
  height: 330px;
  /* margin:15px; */
  border: 4px solid rgb(255, 255, 255);
}
.card{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}
.frente img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.atraz{
  background-color: #479DEE;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.atraz p{
  color: #fff;
  margin: 15px;
  font-size: 1.1rem;

}
.atrazBtn{
  margin-top: 70px;
}
.atrazBtn button{
  background-color: #fb6158;

  width: 150px;
  height: 40px;
  display: block;
  margin: 10px auto 10px auto ;
  box-shadow: 2px 2px 4px #000;
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  border-radius: 5px;
}

  
.frente, .atraz{
width: 100%;
height: 100%;
backface-visibility: hidden;
position: absolute;
border-radius: 10px ;
overflow: hidden;
box-shadow: 4px 4px 6px black;

}
.cardContainer:hover .card{
  transform: rotateY(180deg);
}

/* Inicio tecnologias */
.tecnologias{
  width: 100%; 
  padding: var(--margemContainer);
  background:var(--neum);
}
.tecnologias h3{
font-size: 1.5rem;
margin-bottom: 20px;
}
.container_02{
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.tecCards{
  width: 200px;
  max-width: 200px;
  height: 250px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neum);
  box-shadow: 3px 3px 6px rgb(26, 26, 26),
              -3px -3px 6px rgb(168, 168, 168);
  border-radius: 10px;
  transform: rotateY(0deg);
  transition: 0.2s linear;

}
.tecCards h3{
  margin-top: 25px;
  color: rgb(41, 40, 40);
}
.tecCards:hover{
  transform: rotateY(20deg);
}

.img-svg{
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 15px;
}
.img-svg svg{
  position: relative;
  width: 150px;
  height: 150px;

}
.img-svg svg circle{
 transform: translate(5px, 5px);
 fill: none;
 stroke-width: 10;
 
}
.img-svg svg circle:nth-child(1){
  stroke: rgb(163, 163, 163);
}
.img-svg svg circle:nth-child(2){
  stroke: rgb(255, 50, 50);
}
.html svg circle:nth-child(2){
  animation: animarHTML 1s linear both;
}

@keyframes animarHTML{
  0%{
    stroke-dasharray: 440;
     stroke-dashoffset: 440;
  }
  100%{
    stroke-dasharray: 267;
     stroke-dashoffset: 0;
  }
}
.css svg circle:nth-child(2){
  animation: animarCSS 1s linear both;
}
@keyframes animarCSS{
  0%{
    stroke-dasharray: 440;
     stroke-dashoffset: 440;
  }
  100%{
    stroke-dasharray: 308;
     stroke-dashoffset: 0;
  }
}
.javascript svg circle:nth-child(2){
  animation: animarJavascript 1s linear both;
}
@keyframes animarJavascript{
  0%{
    stroke-dasharray: 880;
     stroke-dashoffset: 880;
  }
  100%{
     stroke-dasharray: 880;
     stroke-dashoffset: 704;
  }
}
.bootstrap svg circle:nth-child(2){
  animation: animarJavascript 1s linear both;
}
@keyframes animarJavascript{
  0%{
    stroke-dasharray: 880;
     stroke-dashoffset: 880;
  }
  100%{
     stroke-dasharray: 880;
     stroke-dashoffset: 704;
  }
}
.git svg circle:nth-child(2){
  animation: animarGit 1s linear both;
}
@keyframes animarGit{
  0%{
    stroke-dasharray: 880;
     stroke-dashoffset: 880;
  }
  100%{
     stroke-dasharray: 880;
     stroke-dashoffset: 660;
  }
}
.img-svg .numero_00{
  position:absolute;
  top: -65px;
  right:-16px;
  width: 65px;
  height: 32px;
  padding: 5px;
  border-radius: 2px;
  transform: translate(0, 32px);
  background:linear-gradient(to right, #d41818, #f25221);
  box-shadow: 2px 2px 4px rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.img-svg .numero_00 span{
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.6;


}
.titulo_02 i{
  transform: scale(5);
  color: rgb(41, 40, 40);
  /* margin: auto; */
}
.titulo_02{
  display: inline-block;
  transform: translate(69px, -84px);
   
}
.estudos{
  width: 100%;
  background-color: rgb(53, 53, 53);
}
.container_03{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--margemContainer);
}
.foguete{
  width: 50%;
  min-width: 300px;
}
.foguete img{
  width: 100%;
}
.textoEstudos{
  width: 50%;
   min-width: 300px;
   color: #fff;
}
@media (max-width: 576px){
  header nav ul a{
    font-size: 12px;
  }
  .titulos_01{
    margin: 0 auto;
  }
 .titulos_01 .titulo_00 h1{
   font-size: 1.7em;
 }
 .titulos_01 .titulo_00 h2{
   font-size: 1.5em;
 }
 .projetos{
 background:var(--brancoPrimario) ;
}
}